@model WebApp.Models.PersonneViewModel
@{
    ViewData["Title"] = "Détails d'une personne";
}
<h2>Détails d'une personne</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" />
            <h4>Personne</h4>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"> </label>
                :&nbsp;@Html.DisplayFor(model => Model.Nom)
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                :&nbsp;@Html.DisplayFor(model => Model.Prenom)
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                :&nbsp;@Html.DisplayFor(model => Model.Age)
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNaissance" class="control-label"></label>
                :&nbsp;@Html.DisplayFor(model => model.DateNaissance)
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                :&nbsp;
                @ViewBag.ListGenres[Model.Genre]
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Civilitee" class="control-label"></label>
                :&nbsp;
                @ViewBag.ListCivilitee[Int32.Parse(Model.Civilitee)]
                <span asp-validation-for="Civilitee" class="text-danger"></span>
            </div>
            <h4>Adresse</h4>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                : <br>
                &nbsp;&nbsp;@Html.DisplayFor(model => Model.Adresse.Numero)
                &nbsp;&nbsp;@ViewBag.ListAdresse[Int32.Parse(Model.Civilitee)]
                &nbsp;&nbsp;@Html.DisplayFor(model => Model.Adresse.Nom)
                <br>
                @Html.DisplayFor(model => Model.Adresse.Ville.CPostal)&nbsp;
                @Html.DisplayFor(model => Model.Adresse.Ville.Nom)&nbsp;
                <span asp-validation-for="IdAdresse" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-light btn-sm">Modifier</a>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark btn-sm">Retour à la liste</a>
</div>