@model IEnumerable<WebApp.Models.PersonneViewModel>
@{
    ViewData["Title"] = "Liste des Personnes";
}

<h2>Liste des Personnes</h2>

<p>
    <a asp-action="Create">Ajouter une Personnes</a>
</p>
<table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prenom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateNaissance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Civilitee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse.Ville.CPostal)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateNaissance)
                    </td>
                    <td>
                        @ViewBag.ListGenres[item.Genre]
                    </td>
                    <td>
                        @ViewBag.ListCivilitee[Int32.Parse(item.Civilitee)]
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresse.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adresse.Ville.CPostal)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light btn-sm">Modifier</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-light btn-sm">Détails</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-light btn-sm">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>