@using Microsoft.AspNetCore.Http
@using System.Text.Json
@{
    ViewData["Title"] = "Page d'accueil";
    ViewData["Page"] = "Home";

    Personne user = Context.Session.GetString("user") != null ? JsonSerializer.Deserialize<Personne>(Context.Session.GetString("user")) : null;
}

@section Styles {
    <link rel='stylesheet' href='~/css/card-Ressource.css'>
    <link rel='stylesheet' href='~/css/mesRessources.css'>
    <link rel='stylesheet' href='~/css/box_form.css'>
}
@if (ViewBag.message != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@ViewBag.message</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@*FILTRE*@

<div class="container mt-3">
    <div class="row card-custom pt-0">
        <div class="center-element text-center">
            <h1 class="display-4 txt-hello">Bienvenue @(user != null ? user.Prenom+" "+user.Nom : "")!</h1>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row card-custom form-horizontal">
        <h2 class="text-center w-100">Filtrer les ressources</h2>
        <div class="col-md-6 center-element">
            <div class="form-group center-element w-100 m-2">
                <div class="input-icon"><i class="fas fa-filter"></i></div>
                <select class="form-control verifForm w-100 m-0" id="idcat" data-nom="idcat" asp-items="@(new SelectList(ViewBag.Categories,"Value", "Text"))"><option value="-1" disabled selected hidden>Sélectionner une catégorie</option></select>
            </div>
        </div>
        <div class="col-md-6 center-element">
            <div class="form-group center-element w-100 m-2">
                <div class="input-icon"><i class="fas fa-file"></i></div>
                <select class="form-control verifForm w-100 m-0" id="idtype" data-nom="idtype" asp-items="@(new SelectList(ViewBag.Types,"Value", "Text"))"><option value="-1" disabled selected hidden>Sélectionner un type</option></select>
            </div>
        </div>
        <div class="col-md-6 center-element">
            <div class="form-group center-element w-100 m-2">
                <div class="input-icon"><i class="fas fa-search"></i></div>
                <input type="text" class="form-control verifForm w-100 m-0" id="searchfiltre" placeholder="Recherche par titre" />
            </div>
        </div>
        <div class="col-md-6 center-element">
            <div class="center-element w-100 m-2">
                <button id="sendfiltres" class="btn-custom w-100"><i class="fas fa-search"></i> Rechercher</button>
            </div>
        </div>
    </div>
</div>


<div id="container" class="container cardPage p-0">
    <div class="row mt-3">
        <div class="col-12 titleRessource mt-2">
            <h2 class="text-center">Liste des dernières ressources</h2>
        </div>
        <div class="col-12">
            <div class="row d-flex justify-content-evenly lesRessources w-100">

            </div>
        </div>
    </div>
</div>

<script>
 //js pour appeler la fonction en ajax "Mesressources"
    function escapeHtml(text) {
        return text
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
    }
$(document).ready(function(){
    var user = '@(user != null ? user : null)';
    var userId = '@(user != null ? user.Id : null)';
    console.log(user);
    $.ajax({
        //L'URL de la requête
        url: "/Ressource/RessourceAccueil",

        //La méthode d'envoi (type de requête)
        method: "GET",

        //Le format de réponse attendu
        dataType : "json",
    })
    //Ce code sera exécuté en cas de succès - La réponse du serveur est passée à done()
    /*On peut par exemple convertir cette réponse en chaine JSON et insérer
     * cette chaine dans un div id="res"*/
    .done(function(response){
        let data = response;
        console.log(data);
        for (var i = 0; i < data.length; i++) {
            var date = new Date(data[i].date);
            var month = date.toLocaleString('FR-FR', { month: 'short' });
          $(".lesRessources").append('<div class="col-lg-3 col-md-5 col-sm-12 mb-5"> '
                                        +'<div class="ressourceCard card">'
                                            +'<div class="wrapper">'
                                                +'<div class="background">'
                                                    + '<img src="img/type_ressource/' + data[i].type.libelle + '.png" alt="logo ' + data[i].type.libelle +'">'
                                                +'</div> '
                                                +'<div class="date">'
                                                    +'<span class="day">'+date.getDate()+'</span><span class="month">'+month+'</span><span class="year">'+date.getFullYear()+'</span>'
                                                +'</div>'
                                                +'<div class="data"><div class="isFavS '+(data[i].isfav ? "" : "d-none")+'"><i class="fas fa-star"></i></div>'
                                                    +' <div class="content">'
                                                        +'<span class="author">'+escapeHtml(data[i].personne.prenom)+' '+escapeHtml(data[i].personne.nom)+'</span>'
                                                        +'<h3 class="title"><a href="/Ressource/GetRessource?id='+ data[i].id +'">'+escapeHtml(data[i].nom)+'</a></h3>'
                                                        +'<p class="text">Catégorie : <span class="badge bg-danger">'+escapeHtml(data[i].categorie.libelle)+'</span></p>'
                                                        +'<label for="show-menu'+i+'" class="menu-button"><span></span></label>'
                                                    +'</div>'
                                                    +'<input type="checkbox" id="show-menu'+i+'"/>'
                                                    +'<ul class="menu-content center-element">'
                                                        +(user != "null" && user != "" ? (userId == data[i].personne.id ? '<li><a href="Ressource/Edit?id='+data[i].id+'" class="editRessource fas fa-pen"></a></li>' : '') : '')
                                                        +'<li><button class="far fa-comment"><span>8</span></button></li>'
                                                        +(user != "null" && user != "" ? '<li><button data-id="'+ data[i].id +'" class="addFav '+(data[i].isfav ? "fas" : "far")+' fa-star"></button></li>' : '')
                                                    +'</ul>'
                                                +'</div>'
                                            +'</div>'
                                        +'</div>'
                                     +'</div>');
        }

        if(user != "null" && user != ""){
            $(".addFav").on("click", function() {
                var thisFav = $(this);
                    $.ajax({
                            //L'URL de la requête
                            url: "Ressource/Addfav",
                            //La méthode d'envoi (type de requête)
                            method: "GET",
                            data: "id=" + $(this).data("id")
                    }).done(function(response){
                        if(response){
                            thisFav.removeClass("far").addClass("fas");
                            thisFav.parent().parent().parent().find(".isFavS").removeClass("d-none");
                        }else {
                            thisFav.removeClass("fas").addClass("far");
                            thisFav.parent().parent().parent().find(".isFavS").addClass("d-none");
                        }
                        console.log(response);
                    })
            });
        }
    })

    //Ce code sera exécuté en cas d'échec - L'erreur est passée à fail()
    //On peut afficher les informations relatives à la requête et à l'erreur
    .fail(function(error){
        alert("La requête s'est terminée en échec. Infos : " + JSON.stringify(error));
    })

    //Ce code sera exécuté que la requête soit un succès ou un échec
    });
</script>


<script>


    document.querySelector('#sendfiltres').addEventListener('click',sendfiltre);

    function sendfiltre() {
     var user = '@(user != null ? user : null)';
    var userId = '@(user != null ? user.Id : null)';


  $.ajax({
        //L'URL de la requête
        url: "/Ressource/GetAllressourceFiltreby",

        //La méthode d'envoi (type de requête)
        method: "POST",
        data : {
            idcat : $('#idcat').val(),
            idtype : $('#idtype').val(),
            search : $('#searchfiltre').val()

        }

    })

    .done(function(response){

        $('.lesRessources').html("");
        let data = response;
        console.log(data);
        for (var i = 0; i < data.length; i++) {
            var date = new Date(data[i].date);
            var month = date.toLocaleString('FR-FR', { month: 'short' });
          $(".lesRessources").append('<div class="col-lg-2 col-md-2 col-sm-2 mb  mb-5"> '
                                        +'<div class="ressourceCard card">'
                                            +'<div class="wrapper">'
                                                +'<div class="background">'
                                                    +'<img src="img/type_ressource/'+data[i].type.libelle+'.png" alt="logo excel">'
                                                +'</div> '
                                                +'<div class="date">'
                                                    +'<span class="day">'+date.getDate()+'</span><span class="month">'+month+'</span><span class="year">'+date.getFullYear()+'</span>'
                                                +'</div>'
                                                +'<div class="data"><div class="isFavS '+(data[i].isfav ? "" : "d-none")+'"><i class="fas fa-star"></i></div>'
                                                    +' <div class="content">'
                                                        +'<span class="author">'+escapeHtml(data[i].personne.prenom)+' '+escapeHtml(data[i].personne.nom)+'</span>'
                                                        +'<h3 class="title"><a href="/Ressource/GetRessource?id='+ data[i].id +'">'+escapeHtml(data[i].nom)+'</a></h3>'
                                                        +'<p class="text">Catégorie : <span class="badge bg-danger">'+data[i].categorie.libelle+'</span></p>'
                                                        +'<label for="show-menu'+i+'" class="menu-button"><span></span></label>'
                                                    +'</div>'
                                                    +'<input type="checkbox" id="show-menu'+i+'"/>'
                                                    +'<ul class="menu-content center-element">'
                                                        +(user != "null" && user != "" ? (userId == data[i].personne.id ? '<li><a href="Ressource/Edit?id='+data[i].id+'" class="editRessource fas fa-pen"></a></li>' : '') : '')
                                                        +'<li><button class="far fa-comment"><span>8</span></button></li>'
                                                        +(user != "null" && user != "" ? '<li><button data-id="'+ data[i].id +'" class="addFav '+(data[i].isfav ? "fas" : "far")+' fa-star"></button></li>' : '')
                                                    +'</ul>'
                                                +'</div>'
                                            +'</div>'
                                        +'</div>'
                                     +'</div>');
        }

        if(user != "null" && user != ""){
            $(".addFav").on("click", function() {
                var thisFav = $(this);
                    $.ajax({
                            //L'URL de la requête
                            url: "Ressource/Addfav",
                            //La méthode d'envoi (type de requête)
                            method: "GET",
                            data: "id=" + $(this).data("id")
                    }).done(function(response){
                        if(response){
                            thisFav.removeClass("far").addClass("fas");
                            thisFav.parent().parent().parent().find(".isFavS").removeClass("d-none");
                        }else {
                            thisFav.removeClass("fas").addClass("far");
                            thisFav.parent().parent().parent().find(".isFavS").addClass("d-none");
                        }
                        console.log(response);
                    })
            });
        }
    })

    //Ce code sera exécuté en cas d'échec - L'erreur est passée à fail()
    //On peut afficher les informations relatives à la requête et à l'erreur
    .fail(function(error){
        alert("La requête s'est terminée en échec. Infos : " + JSON.stringify(error));
    })

    //Ce code sera exécuté que la requête soit un succès ou un échec

    };
</script>

