@using Microsoft.AspNetCore.Http
@using System.Text.Json
@model ServiceDAL.BusinessObjet.Ressources
@{
    ViewData["Title"] = Model.Nom;
    ViewData["Page"] = "Ressource";

    Personne user = Context.Session.GetString("user") != null ? JsonSerializer.Deserialize<Personne>(Context.Session.GetString("user")) : null;
}
@section Styles {
    <link rel='stylesheet' href='~/css/maRessource.css'>
    <link rel='stylesheet' href='~/css/video-js.min.css'>
    <link rel='stylesheet' href='~/css/box_form.css'>
    <link rel='stylesheet' href='~/css/card_commentaire.css'>
}

<div class="box_general_ressource">
    <div class="row">
        <div class="col-6"><span>Auteur : @Model.Personne.Prenom @Model.Personne.Nom</span></div>
        <div class="col-6"><div class="profilPicture"><i class="fas fa-user"></i></div></div>
    </div>
    <div class="row">
        <div class="col-6"><span>Catégorie : @Model.Categorie.Libelle</span></div>
    </div>
    <div class="row">
        <div class="col-6"><span class="fst-italic">Crée le  : @Model.Date</span></div>
        <div class="col-6 text-end"><span>Status : <span class="badge rounded-pill @(Model.IsValidate ? "bg-success" : "bg-danger")">@(Model.IsValidate ? "Validé" : "Non validé")</span></span></div>
    </div>
</div>

<div>

</div>

<div class="box_data_ressource">
    <div class="row">
        <div class="col-12 text-center">
            <div class="d-flex">
                <a class="btn-facebook me-2" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//projetcube.tech/Ressource/GetRessource?id=@Model.Id" rel="noreferrer" target="_blank"><i class="fab fa-facebook"></i> Partager sur Facebook</a>
                <a class="btn-twitter me-2" href="https://twitter.com/intent/tweet?text=https%3A//projetcube.tech/Ressource/GetRessource?id=@Model.Id" rel="noreferrer" target="_blank"><i class="fab fa-twitter"></i> Partager sur Twitter</a>
                <a class="btn-Linkedin me-2" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//projetcube.tech/Ressource/GetRessource?id=@Model.Id'&title=Ressource&summary=&source=" rel="noreferrer" target="_blank"><i class="fab fa-linkedin"></i> Partager sur Linkedin</a>
            </div>
            <h1>Titre : @Model.Nom</h1>
        </div>
        <div class="col-2 text-end">
            <a href="@Model.CheminAcces@Model.Source" download="@Model.Source" class="btn btn-success download_btn"><i class="fas fa-download"></i> Télécharger la vidéo</a>
        </div>
        <div class="col-12 center-element">
            <video
            id="my-video"
            class="video-js"
            controls
            preload="auto"
            width="824"
            height="624"
            data-setup="{}">
            <source src="@Model.CheminAcces@Model.Source" type="video/@System.IO.Path.GetExtension(Model.CheminAcces + Model.Source).Remove(0,1)" />
            <p class="vjs-no-js">
              Pour voir la vidéo merci d'activer javascript sur votre navigateur.
              <a href="https://videojs.com/html5-video-support/" target="_blank">Type de vidéo supporter par les navigateurs</a>
            </p>
          </video>
        </div>
    </div>
</div>

<script src='~/js/video-js.min.js'></script>
@if(user != null){
    <partial name="/Views/Shared/_commentaires.cshtml" />
}
